/vendor
/node_modules
/.env
/.env.*
!/.env.example
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/public/storage
/public/hot
/public/build
.DS_Store
Thumbs.db
*.log
.phpunit.result.cache
